<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Person</title>
</head>
<body>
<h1>Show person</h1>
<!--/*@thymesVar id="person" type="ru.drogunov.springcource.model.Person"*/-->
<hr>
<p th:text="${person.getId()}"/>
<hr>
<p th:text="${person.getName()}"/>
<hr>
<p th:text="${person.getSurname()}"></p>
<hr>
<p th:text="${person.getAge()}"></p>
<hr>
<p th:text="${person.getEmail()}"></p>
<hr>
<br>
<br>
<hr>
<a href="/">Home page</a>
<br>
<hr>
<a href="/people/new">Create person</a>
<br>
<hr>
<a th:href="@{/people/{id}/edit(id=${person.getId()})}">Update person</a>
<br>
<hr>
<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
  <input type="submit" value="Delete">
</form>
<!--Колхоз-->
<!--<a th:href="@{/people/{id}(id=${person.getId()})}+${'/edit'}" th:object="${person}">Update person</a>-->
</body>
</html>










