<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:comtect="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd">

    <comtect:component-scan base-package="ru.drogunov.springcource"/>


    <!-- Конфигурация XML -->
<!--    <comtect:property-placeholder location="classpath:musicPlayer.properties"/>

    <bean id="classicMusic" class="ru.drogunov.springcource.music.ClassicMusic"
          destroy-method="destroy" init-method="init"
          scope="prototype"
    />
    <bean id="rockMusic" class="ru.drogunov.springcource.music.RockMusic"
          destroy-method="destroy" init-method="init"
    />
    <bean id="jazzMusic" class="ru.drogunov.springcource.music.JazzMusic"
          destroy-method="destroy" init-method="init"
          factory-method="get"
    />
    <bean id="musicListBeans" class="java.util.ArrayList">
        <constructor-arg>
            <list>
                <ref bean="rockMusic"/>
                <ref bean="jazzMusic"/>
                <ref bean="classicMusic"/>
                <ref bean="classicMusic"/>
                <ref bean="classicMusic"/>
            </list>
        </constructor-arg>
    </bean>

    <bean id="musicPlayer" class="ru.drogunov.springcource.MusicPlayer">
        <property name="name" value="${musicPlayer.name}"/>
        <property name="volume" value="${musicPlayer.volume}"/>
        <property name="musicList" ref="musicListBeans"/>
    </bean>-->
</beans>
